:root {
    --var-gray: #44494A;
    --var-white: #EAEAEA;
}

body {

    background-color: #222526;
    color: var(--var-white);
    font-family: 'Montserrat', sans-serif;
}

/* Background */
.bg-gradient-top {
    position: fixed;
    content: "";

    /* left: -250px;
    top: -250px;
    width: 700px;
    height: 700px; */
    left: -18vw;
    top: -18vw;
    width: 50vw;
    height: 50vw;

    border-radius: 50%;
    z-index: 1;
    background: linear-gradient(142.26deg, #f75c6490 25.26%, #C696A6 45.16%, #95D0E7 65.06%);

    /* opacity: 0.6; */
    opacity: 0.8;

    border-radius: 50%;
    filter: blur(80px);
    animation: circle-top 37.5s linear infinite;
    /* animation: circle-top 10s linear infinite; */
}


.bg-gradient-bottom {
    position: fixed;

    /* width: 300px;
    height: 300px;
    right: -10vw;
    top: 60vh; */
    right: -9vw;
    bottom: -13vw;
    width: 34vw;
    height: 34vw;

    background: linear-gradient(305.74deg, rgba(199, 131, 194, 0.798412) 31.51%, rgba(133, 174, 249, 0.8) 81.21%);
    border-radius: 50%;

    /* opacity: 0.6; */
    opacity: 0.8;

    filter: blur(60px);
    animation: circle-bottom 27.5s linear infinite;
}


/* Navigation */
nav {
    z-index: 2;
    background: linear-gradient(180deg, rgba(39, 39, 39, 0.485), rgb(255 255 255 / 0%));
    /* text-shadow: #222526; */
    /* font-size: ; */
}

/* MAIN SECTIONS */
main {
    position: relative;
    z-index: 2;

}

#home, #about, #portfolio {
    padding-top: 5.5rem;
    min-height: 98vh;
}

/* HOME PAGE SECTION*/


#home .row {
    height: 75vh;
}

#home .row h1 {
    max-width: 100px;
    font-size: 80px;
}

#home .row h3 {
    font-size: 40px;
}

.gradient-line {
    width: 60%;
    height: 3px;
    background: linear-gradient(305.74deg, rgba(199, 131, 194, 0.798412) 31.51%, rgba(133, 174, 249, 0.8) 81.21%);
}

/* ABOUT SECTION */
h2 {
    font-size: 64px;
    /* margin-bottom: 58px; */
}


/* Tech */
.tech-box {
    background: rgba(47, 50, 54, 0.5);
    border-radius: 50px;
    padding: 4% 5%;
    /* width: 60%; */
    min-height: 70%;
    font-size: 20px;
}

.tech-list li {
    display: inline-block;
    padding: 8px 10px;
}

.tech-img {
    height: 60px;
    margin: 20px 5px;
}

/* Soft */
.soft-box {
    background: rgba(47, 50, 54, 0.5);
    border-radius: 50px;
    padding: 4% 6%;
    /* width: 30%; */
    min-height: 75%;
    font-size: 20px;
}

/* PORTFOLIO */
.projects-item {
    /* background: rgba(47, 50, 54, 0.5); */
    border-radius: 50px;
    /* width: 100%; */
    /* min-height: 400px; */
    content: "";

    /* background: url(assets/netflix-home-img.png) center/cover; */
}

.projects-item img {
    border-radius: 25px;
}

/* BUTTONS */
.theme-btn {
    border-radius: 50%;
    color: var(--var-gray);
    background-color: var(--var-white);
}

.cv-btn {
    color: var(--var-white);
    font-size: 16px;
    background: linear-gradient(90deg, rgba(133, 174, 249, 0.5) 0%, rgba(199, 131, 194, 0.499007) 99.82%);
    border-radius: 50px;
    letter-spacing: -1.2px;
    border: 0px;
    width: 213px;
    height: 50px;
}


/* ANIMATIONS */
@keyframes circle-top {

    /* 0% {
        transform: rotate(0deg) translate(-100px) rotate(0deg);

    } */
    0% {
        transform: rotate(0deg) translate(-5vw) rotate(0deg);

    }

    100% {
        transform: rotate(360deg) translate(-5vw) rotate(360deg);
    }
}

@keyframes circle-bottom {

    /* 0% {
        transform: rotate(0deg) translate(-50px) rotate(0deg);

    } */
    0% {
        transform: rotate(0deg) translate(-3.5vw) rotate(0deg);

    }

    100% {
        transform: rotate(-360deg) translate(-3.5vw) rotate(-360deg);
    }
}



/* RESPONSIVE DESIGN  */

@media(max-width:800px) {
    .theme-btn {
        border-radius: 30px;
        border: 0px;
        /* color: var(--var-white);
        background-color: var(--var-gray); */
        /* max-width: 200px; */
    }

    .bg-gradient-top {
        left: -9vw;
        top: -9vw;
        width: 56vw;
        height: 56vw;
        /* opacity: 1; */
    }

    .bg-gradient-bottom {
        right: -5vw;
        bottom: -6vw;
        width: 37vw;
        height: 37vw;
        /* opacity: 1; */
    }
}